[flake8]

exclude=
    .gitignore,
    __pycache__,
    data/,
    result/,
    env/,
    README.md,
    requirements.txt

filename = *.py

max-line-length = 119
max-doc-length = 119

max-complexity = 10
